[submodule "Controller/Submodules/PS4-esp32"]
	path = Controller/Submodules/PS4-esp32
	url = git@github.com:jminor717/PS4-esp32.git
[submodule "components/arduino"]
    path = components/arduino
    url = https://github.com/espressif/arduino-esp32.git
[submodule "Submodules/DShotRMT"]
	path = Submodules/DShotRMT
	url = https://github.com/ahalekelly/DShotRMT.git
[submodule "Submodules/Arduino-PID-Library"]
	path = Submodules/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
