[submodule "Controller/Submodules/PS4-esp32"]
	path = Controller/Submodules/PS4-esp32
	url = git@github.com:jminor717/PS4-esp32.git
[submodule "components/arduino"]
    path = components/arduino
    url = https://github.com/espressif/arduino-esp32.git
[submodule "Submodules/DShotRMT"]
	path = Submodules/DShotRMT
	url = https://github.com/ahalekelly/DShotRMT.git
[submodule "Submodules/FastPID"]
	path = Submodules/FastPID
	url = https://github.com/mike-matera/FastPID.git
